.nav-ele{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
    // border: 1px solid red;
    a{
        text-decoration: none;
        color: initial;
    }
}
.size{
    width: 25px;
    height: 25px;
}
.logo{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
   color: #6176f2;
   cursor: pointer;
   transition: 0.3s all ease-in-out;
   h3{
       margin-left: 6px;
   }
   .icon-cont{
    //    display: block;
    display: flex;
    justify-content:center;
    align-items: flex-start;

       width: 30px;
       height: 30px;
       overflow: hidden;
       border-radius: 50%;
       background-color: #6176f2;
       .icon{
           display: flex;
           flex-direction: column;
           justify-content: center;
           align-items: center;
           transform: translateY(3px);
           transition: 0.2s all ease-in-out; 
           color: #fff !important;    
       }
   }

}

.logo:hover .icon {
    transform: translateY(-23px);
}

.li-ele {
    display: flex;
    text-decoration: none;
    list-style: none;
  li{
      cursor: pointer;
    font-weight: 500;
    color: #6e7275;
    margin-right: 20px;
    padding: 0px 15px;
    transition: 0.3s all ease-in-out;
    a{
        text-decoration: none;
        color: inherit;
    }
  }
    li:hover{
        transform: translateY(-2px);
    }

}

.join_talky{
    padding: 8px 14px;
    // border: 2px solid  #6e7275;
    border: 2px solid #6e727518;
    // border: 2px solid  #6e727575;
    border-radius: 30px;
    // color:  #6e7275;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}


.join_talky:hover{
    transform: translateY(-2px);
    border: 2px solid #6e72754f;
}


.hidden-li{
    display: none;
    position: absolute;
    width: 200px;
    margin-left: 0;
    margin-top: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
    li{
      padding: 0;
      margin: 5px 0px;
        a{
            padding: 15px 0px;
        }
    }
}
.hover-ele{

    position: relative;
    transition: 0.3s all ease-in-out;
}
.hover-ele:hover .hidden-li{
    display: block;
    margin-top: 5px;
    transition: 0.3s all ease-out;
}



@media only screen and (max-width: 900px) {
    .li-ele{
        display: none;
    }
    
  }







// hamburger menu

// label{
//     display:flex;
//      flex-direction:column;
//      width:70px;
//      cursor:pointer;
//    }
   
//    label span{
//      background: #fff;
//      border-radius:10px;
//      height:7px;
//      margin: 7px 0;
//      transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
   
//    }
   
   
//    span:nth-of-type(1){
//      width:50%;
     
//    }
   
//    span:nth-of-type(2){
//      width:100%;
//    }
   
   
//    span:nth-of-type(3){
//      width:75%;
    
//    }
   
   
//    input[type="checkbox"]{
//      display:none;
//    }
   
   
//    input[type="checkbox"]:checked ~ span:nth-of-type(1){
//      transform-origin:bottom;
//      transform:rotatez(45deg) translate(8px,0px)
//    }
   
   
//    input[type="checkbox"]:checked ~ span:nth-of-type(2){
     
//      transform-origin:top;
//      transform:rotatez(-45deg)
//    }
   
   
//    input[type="checkbox"]:checked ~ span:nth-of-type(3){
     
//      transform-origin:bottom;
//      width:50%;
//      transform: translate(30px,-11px) rotatez(45deg);
   
//    }
   